{% load static %}
<nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{% static 'img/logo_file.png'%}" alt="logo" width="40" height="40">
      </a>
    </div>
  </nav>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Selecionar texto em imagem</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Calculadora de juros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Meu ip</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Gerador de pessoas</a>
    </li>
  </ul>